/*
Whisker Menu
*/

#whiskermenu-window * {
   border: 0px rgba(50, 52, 61, 0.95) solid; /*All border*/
   outline: none;
}
#whiskermenu-window {
   background-color: rgba(50, 52, 61, 0.8) ; /*All window*/
   color: #e6ebef; /*Text color ex:username*/
/*   border-radius: 0px 0px 10px 10px; */
}

#whiskermenu-window scrollbar {
   background: transparent;
}
#whiskermenu-window entry {
   background-color: rgba(0, 0, 0, 0.25); /*Searchbox Color*/
   color: #e6ebef;/*Searchtext Color*/
   margin: 5px 0px 0px 0px;
   border:none;
}

#whiskermenu-window button {
   background-color: rgba(50, 52, 61, 0.0); /*Color of Button category*/
   color: #e6ebef; /*Color of Text button category*/
   margin:1px;
   margin-right: 2px;
   border-radius: 5px;
   background-image: none;
}

#whiskermenu-window treeview {
   background-color: rgba(255, 255, 255, 0.1); /*Box Color of application when click/Hover on category */
   color: #e6ebef; /*Text Color of application when click/Hover on category */
   background-image: none;
   padding: 0px 10px 0px 10px;
   outline-color: rgba(0, 0, 0, 0);
}

#whiskermenu-window .frame:first-child {
   background: rgba(50, 52, 61, 0.1); /*First Color Box of favorite/All applications*/
   border-radius: 8px;
}

#whiskermenu-window button:focus,
#whiskermenu-window button:hover,
#whiskermenu-window button:active,
#whiskermenu-window button:selected,
#whiskermenu-window treeview:selected,
#whiskermenu-window treeview:hover,
#whiskermenu-window treeview:active,
#whiskermenu-window treeview:focus
{
   background-color: #5294e2; /*Button Color click/Hover  */
   color: #ffffff; /*Text Button Color click/Hover  */
   transition: 200ms;
}
#whiskermenu-window button:active {
   background: #2679db; /*Button Color click-active  */
}
#whiskermenu-window treeview:focus {
   background: transparent;
}
#whiskermenu-window iconview{
   background: transparent;
   border-radius: 8px;
}
#whiskermenu-window iconview:hover{
   background: rgba(50, 52, 61, 0.25);
   border: 1px rgba(255, 255, 255, 0.25) solid;
}

#whiskermenu-window iconview{
   background: transparent;
   border-radius: 10px;
}

#whiskermenu-window iconview {
   color: #ffffff; /*text color when icon view mode*/
}
