.xfsm-logout-dialog {
	-gtk-icon-theme: "Sardi";
 	min-width: 20px;
 	min-height: 25px;
  	margin-top: 2px;
  	padding-bottom: 10px;
  	padding-left: 8px;
  	padding-right: 8px;
  	color: #eeeeec;
        background-color: #222329;
  	border: 30px solid;
  	border-color: #222329;
  	border-radius: 5px;
}

.xfsm-logout-dialog button {
	background-image: none;
  	color: #eeeeec;
        background-color: #32343d;
  	border: 1px solid;
  	border-color: #393f3f;
}

.xfsm-logout-dialog button:hover {
	background-image: none;
  	color: #eeeeec;
  	background-color: #3e414c;
  	border: 1px solid;
  	border-color: #3e414c;
}